<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<targets async="true">
		<target name="error" xsi:type="File" fileName="logs/${shortdate}.txt"
				archiveAboveSize="10485760" maxArchiveFiles="300" maxArchiveDays="30"
				archiveEvery="Day" archiveFileName="logs/nlog-${shortdate}.{#}.log"
				autoFlush="false" keepFileOpen="true" openFileFlushTimeout="2" openFileCacheTimeout="60" bufferSize="32768"
				layout="${longdate} [${level:uppercase=true}] Thread:${threadid} ${logger}: ${message} ${exception:format=tostring}"/>

		<target name="warn" xsi:type="File" fileName="logs/${shortdate}.txt"
				archiveAboveSize="10485760" maxArchiveFiles="300" maxArchiveDays="30"
				archiveEvery="Day" archiveFileName="logs/nlog-${shortdate}.{#}.log"
				autoFlush="false" keepFileOpen="true" openFileFlushTimeout="2" openFileCacheTimeout="60" bufferSize="32768"
				layout="${longdate} [${level:uppercase=true}] Thread:${threadid} ${logger}: ${message} ${exception:format=tostring}"/>

		<target name="file" xsi:type="File" fileName="logs/${shortdate}.txt"
				archiveAboveSize="10485760" maxArchiveFiles="300" maxArchiveDays="30"
				archiveEvery="Day" archiveFileName="logs/nlog-${shortdate}.{#}.log"
				autoFlush="false" keepFileOpen="true" openFileFlushTimeout="2" openFileCacheTimeout="60" bufferSize="32768"
			layout="${longdate} [${level:uppercase=true}] Thread:${threadid} ${logger}: ${message} ${exception:format=tostring}"/>

		<target name="console" xsi:type="Console"
				layout="${longdate} [${level:uppercase=true}] Thread:${threadid} ${logger}: ${message} ${exception:format=tostring}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="console" />
		<logger name="*" minlevel="Error" writeTo="error" />
		<logger name="*" minlevel="Warn" maxlevel="Warn" writeTo="warn" />
		<logger name="*" minlevel="Debug" writeTo="file" />
	</rules>
</nlog>